{% extends 'index_master.html' %}

{% block content %}
<!-- Contenido de la página -->
<div class="right_col" role="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Bienvenido a Aprendix...</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p>¡Comencemos!</p>
                        <p>Aquí encontrarás una variedad de recursos para aprender y mejorar tus habilidades.</p>
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="card h-100">
                                    <img src="/static/Images/image1.jpg" alt="Imagen 1" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Test de Estilo de Aprendizaje</h5>
                                        <p class="card-text text-justify">El "Test de Estilos de Aprendizaje" es una herramienta valiosa que nos permite entender mejor cómo cada individuo prefiere procesar y asimilar la información. Al completar este test, los participantes exploran sus preferencias en cuanto a los diferentes estilos de aprendizaje, como el visual, auditivo y kinestésico.</p>
                                        <a href="#" class="btn btn-primary">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="card h-100">
                                    <img src="/static/Images/image2.jpg" alt="Imagen 2" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Cursos Virtuales</h5>
                                        <p class="card-text text-justify">Estos cursos ofrecen la flexibilidad de aprender desde cualquier lugar con acceso a internet, permitiendo a los estudiantes avanzar a su propio ritmo y adaptarse a sus horarios. Los cursos virtuales cubren una amplia variedad de temas y disciplinas, desde habilidades técnicas y profesionales hasta artes y humanidades.</p>
                                        <a href="#" class="btn btn-primary">Ver más</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="card h-100">
                                    <img src="/static/Images/image3.png" alt="Imagen 3" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">App Móvil</h5>
                                        <p class="card-text text-justify">Nuestra "App Móvil" está diseñada para afianzar el conocimiento adquirido en los cursos virtuales y ofrece una plataforma interactiva y accesible desde dispositivos móviles para reforzar y aplicar los conceptos aprendidos.</p>
                                        <a href="#" class="btn btn-primary">Ver más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Últimos artículos</h3>
                                <ul class="list-unstyled">
                                    <li><a href="#">Artículo 1 - Título</a></li>
                                    <li><a href="#">Artículo 2 - Título</a></li>
                                    <li><a href="#">Artículo 3 - Título</a></li>
                                    <li><a href="#">Artículo 4 - Título</a></li>
                                    <li><a href="#">Artículo 5 - Título</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h3>Próximos eventos</h3>
                                <ul class="list-unstyled">
                                    <li><a href="#">Evento 1 - Título</a></li>
                                    <li><a href="#">Evento 2 - Título</a></li>
                                    <li><a href="#">Evento 3 - Título</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Contenido de la página -->
{% endblock %}